html,body{
    margin:0;
    padding:0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}

h1 {
  font-size: 55px;
  line-height: 55px;
}

.advantage-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.index-content-title {
  font-size: 45px;
  line-height: 45px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header,
.catalog-header {
  padding-top: 50px;
  background:#eeeeee;
}

.main-navigation {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #E0FFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation ul{
  list-style-type: none;
}

.index-logo {
  background-color: #FFB6C1;
  margin-right: 200px; /* не нужен, т.к. space-between */
  width: 160px;
  height: 65px;
}

.user-block {
  text-align: right;
  background-color: #FFB6C1;
  margin-left: 200px; /* не нужен, т.к. space-between */
  width: 160px;
  justify-content: flex-end;
}

.menu {
  background-color: #FFB6C1;
  width: 440px;
  display: flex;
  justify-content: space-between;
}

/*--------------------------------слайдер-------------------------*/
.slider{
    position:relative;
    width:1160px;
    height:430px;
    margin:0 auto;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls{
    position:absolute;
    bottom:105px;
    left:50%;
    width:200px;
    height:18px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width: 8px;
    height: 8px;
    margin:0 17px;
    background:white;
    border:5px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1; /* не пойму пока как кругом в круге сделать*/
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;

}

.slide-text{
    width:560px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:55px;
    line-height:1;
    font-weight:bold;
    color:black;
}

.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:40px;
    font-size:16px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:2px;
}

.slide:nth-child(1){
    background-image:url('../img/slider-bg.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url('../img/slider-bg-2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url('../img/slider-bg-3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*конец слайдера*/

.advantages {
  background-color: #E0FFFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 80px;
}

.advantage-item {
  width: 300px;
}

.index-content {
  background-color: #FFB6C1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.index-content-left {
  background-color: #E0FFFF;
  width: 660px;
}

.index-content-right {
  background-color: #E0FFFF;
  width: 360px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  height: 176px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.map {
  width: 100%;
  height: 415px;
  margin-top: 170px;
  margin-bottom: 80px;
  background-image:url('../img/map.jpg');
  background-repeat:no-repeat;
  background-position: center center;

}

.contacts {
  width: 320px;
  height: 310px;
  background-color: white;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.slogan {
  background-color: #FFB6C1;
  width: 560px;
  margin-right: 200px;
  margin-left: 140px;
}

.social-btn {
  background-color: #FFB6C1;
}

/*--------------------Каталог--------------------*/

.catalog-header {
  background:#eeeeee;
  height: 305px;
}

h1 {
  display: block;
  background-color: #eeeeee;
  padding-bottom: 116px;
  text-align: center;
}

.catalog {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 260px;
  margin-right: 140px;
}

.main-catalog {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
}

.sorting {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorting-title {
  width: 160px;
}

.sorting-filter {
  background-color: #E0FFFF;
  display: flex;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.pagenation {
  margin-top: 60px;
  position: relative;
}

.pagenation ul {
  position: absolute;
  left: -50px;
}

.pagenation ul {
  background-color: #FFB6C1;
  width: 760px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.pagenation a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.pagenation li{
  width: 30px;
  height: 18px;
  padding: 16px 10px;
  margin:0 10px;
  text-align: center;
  background: #eeeeee;
  border:3px solid #eeeeee;
  vertical-align:top;
  border-radius: 2px;
}


ul .current {
  background: white;
}

.pagenation li:last-child {
  width: 260px;
}

/*  range-filter  */
.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 28px;
  margin-bottom: 15px;
  border-radius: 3px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cccdcd;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 12px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #eeeeee;
}
