@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
}

html,body{
    margin:0;
    padding:0;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
}


.advantage-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.advantage-item p{
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  width: 260px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}

.main-header,
.catalog-header {
  padding-top: 50px;
  background:#eeeeee;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
}

.main-navigation {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.main-navigation li{
  height: 41px;
  padding-top: 12px;
  border-bottom: 2px solid inherit;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation .actived {
  height: 41px;
  border-bottom: 2px solid red;
}


.catalog-header .main-navigation {
  margin-bottom: 88px;
}

.index-logo {
  margin-right: 200px;
  width: 160px;
  height: 65px;
  vertical-align: middle;
  cursor: pointer;
}

.index-logo:hover {
  opacity: 0.8;
}

.index-logo:active {
  opacity: 0.3;
}

.user-block {
  position: relative;
  text-align: right;
  margin-left: 200px;
  width: 80px;
  height: 41px;
  padding-top: 12px;
  border-bottom: 2px solid inherit;
  padding-left: 80px;
  justify-content: flex-end;
  align-content: middle;
}

.user-block::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 45px;
  width: 23px;
  height: 23px;
  color: #000000;
  opacity: 0.3;
  background: #eeeeee url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
}

.menu {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

/*--------------------------------слайдер-------------------------*/
.slider{
    position:relative;
    width:1160px;
    height:430px;
    margin:0 auto;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls{
    position:absolute;
    bottom:105px;
    left:50%;
    width:200px;
    height:18px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    position: relative;
    display:inline-block;
    width: 8px;
    height: 8px;
    margin:0 17px;
    background:white;
    vertical-align:top;
    border: 5px solid white;
    border-radius:50%;
    cursor:pointer;
}

.slider-controls label::after {
  content: '';
  position: absolute;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #c1c1c1;
  display: none;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::after{
  display: block;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;

}

.slide-text{
    width:560px;
    padding:30px 0;
    font-size:16px;
    line-height: 24px;
    font-weight:400;
    color: #283136;

}
.slide-title{
    font-size:55px;
    line-height: 55px;
    font-weight:500;
    color: #000000;
}


.slide:nth-child(1){
    background-image:url('../img/slider-bg.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url('../img/slider-bg-2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url('../img/slider-bg-3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*конец слайдера*/

.advantages {
  display: flex;
  justify-content: space-between;
  padding-bottom: 78px;
  margin-bottom: 75px;
  margin-top: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantage-item {
  width: 300px;
}

.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.index-content-left {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
}

.index-content-left b {
  width: 660px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.index-content-left p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.worklist p {
  margin-top: 42px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.worklist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.worklist li {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  position: relative;
  padding: 14px 0;
  padding-left: 35px;
}

.worklist li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  bottom: 25px;
  background-color: #fb565a;
}

.table-accuracy-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 35px;
}

.table-accuracy th {
  width: 33%;
  font-size: 45px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-align: left;
  padding-top: 40px;
}

.table-accuracy sup {
  top: -15px;
  font-size: 55%;
}

.table-accuracy td {
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}



.index-content-right {
  width: 360px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  height: 176px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}


.main-footer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.map {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 415px;
  text-align: center;
  background-color: #eeeeee;
  background-image:url('../img/map.jpg');
  background-repeat:no-repeat;
  background-position: center center;
}

.contacts {
  width: 220px;
  height: 210px;
  padding: 50px;
  background-color: white;
  position:relative;
  left:0px;
  top:54px;
  margin-bottom: 178px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  width: 264px;
  justify-content: space-between;
}

.slogan {
  width: 560px;
  margin-right: 200px;
  margin-left: 140px;
}

.slogan b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.slogan p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}



/*--------------------Каталог--------------------*/

.catalog-header {
  background:#eeeeee;
  height: 190px;
  padding-bottom: 115px
}

.catalog-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 117px;
  text-align: center;
}

.catalog {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 260px;
  margin-right: 140px;
}

.main-catalog {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 30px;
  letter-spacing: 0.01em;
  margin-left: -2px;
}

.sidebar-form fieldset {
  padding: 0;
  border: none;
  margin-bottom: 50px;
}

.sidebar-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.network ul, .features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.network li, .features li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2px;
  list-style: none;
}

/*----------fieldset class="network"--------------------*/
.network label {
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  color: #283136;
}

.radio {
  position: relative;
}

.network input[type='radio'] {
  display: none;
}

.radio::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
}

.network input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 9px;
  width: 8px;
  height: 8px;
  background-color: #b8b8b8;
  border-radius: 50%;
}

.network input[type='radio']:disabled + .radio {
  opacity: 0.3;
}

.network input[type='radio']:disabled + .radio::before,
.network input[type='radio']:disabled + label::after {
  opacity: 0.1;
}

.network input[type='radio']:enabled + label:hover{
  color: #000000;
}

.radio:hover::before {
  border: 4px solid #4d4d4d;
}

.network input[type='radio']:checked:hover + label::after {
  background-color: #4d4d4d;
}

/*-----end of--------fieldset class="network"----------------*/

/*----------fieldset class="features"--------------------*/

.features label {
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  color: #283136;

}

.feature-checkbox {
  position: relative;
}

.features input[type='checkbox'] {
  display: none;
}

.feature-checkbox::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 1px;
  width: 17px;
  height: 17px;
  border-radius: 6px;
  border: 3px solid #b8b8b8;
}

.features input[type='checkbox']:checked + .feature-checkbox::before  {
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  border:none;
  border-radius: 0px;
  width: 28px;
  height: 24px;
  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -4px -62px;
  opacity: 0.4;
}

.features input[type='checkbox']:disabled + .feature-checkbox {
  opacity: 0.3;
}

.features input[type='checkbox']:disabled + .feature-checkbox::before {
  opacity: 0.1;
}

.features input[type='checkbox']:enabled + label:hover{
  color: #000000;
}

.feature-checkbox:hover::before {
  border: 3px solid #4d4d4d;
}

.features input[type='checkbox']:checked:enabled:hover + .feature-checkbox::before {
  opacity: 1;
}




/*--------------------------------------------------*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagenation {
  margin-bottom: 115px;
  margin-top: 60px;
}

.pagenation ul {
  width: 760px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.pagenation li {
  margin:0 10px;
  display:flex;
  width: 50px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  font-weight: 500;
  text-transform:uppercase;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  border-radius: 2px;
}

  .pagenation a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;

  }

.pagenation a:hover {
  background: #dfdfdf;
}


.pagenation a:active {
  color: #959595;
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagenation .current,
.pagenation .current:hover,
.pagenation .current:active{
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  border:3px solid #dbdbdb;
  height: 44px;
  width: 44px;
  box-shadow: none;
  opacity: 1;
}


a:active{
  opacity: 0.3;
}


.pagenation li:last-child {
  width: 260px;
}

.pagenation li:first-child {
  margin-left: 0;
}

/*  range-filter  */
.range-filter {
  width: 260px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 28px;
  margin-bottom: 15px;
  border-radius: 3px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cccdcd;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 12px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #eeeeee;
}

/*------------------------*/

.partners img{
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.slide .btn {
    margin-top:40px;
    display:flex;
    width:240px;
    height: 50px;
    font-size:16px;
    line-height: 18px;
    color:white;
    font-weight: 500;
    text-transform:uppercase;
    text-decoration:none;
    align-items: center;
    justify-content: center;
    background:#fb565a;
    border-radius:2px;
}

.advantages .btn {
  margin-top: 35px;
  display:flex;
  width:160px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  color:white;
  font-weight: 500;
  text-transform:uppercase;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  border-radius:2px;
}

.contacts .btn {
  margin-top: 35px;
  display:flex;
  width:220px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  color:white;
  font-weight: 500;
  text-transform:uppercase;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  border-radius:2px;
}

.btn-form {
  display:flex;
  width:260px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  color: #000000;
  font-weight: 500;
  text-transform:uppercase;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  border-radius:2px;
  background-color: #eeeeee;
}

.btn-red {
  background-color: #fb565a;
}

.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 #009958;
  color: rgba(255, 255, 255, 0.3);
}

.btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 #ce961f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-form:hover {
  background-color: #dfdfdf;
}

.btn-form:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
  color: rgba(255, 255, 255, 0.3);
}

.item .btn {
    color: #ffffff;
}


.footer-social a {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}

.footer-social a:hover {
  background-color: #e74246;
}

.footer-social a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.social-btn::after {
  position: absolute;
  content: '';
  left: 25px;
  top: 28px;
  width: 28px;
  height: 26px;
  background: transparent url('../img/sprite.png') no-repeat;
}

.social-btn:active::after {
  opacity: 0.3;
}

.social-btn-vk::after {
  background-position: -3px -262px;
}

.social-btn-fb::after {
  background-position: 3px -96px;
}

.social-btn-inst::after {
  background-position: 0px -127px;
}

/*----------products------------------*/

.item {
  position: relative;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.item-info {
  height: 230px;
  width: 360px;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #eeeeee;
}

.item:hover .item-info {
  display:block;
}

.item-info h2 {
  margin-top: 35px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.item-info p {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.item .btn {
  margin: 30px 80px 42px 80px;
  display:flex;
  width:200px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  color:white;
  font-weight: 500;
  text-transform:uppercase;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  border-radius:2px;
}

.item .btn:active {
  opacity: 1;
}

.item .hat {
  opacity: 0.12;
}

.item:hover .hat {
  opacity: 1;
}

.item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

/*------------sorting----------------*/

.sorting {
  width: 760px;
  display: flex;
  margin-bottom: 60px;
  align-items: baseline;
  justify-content: flex-start;;

}

.sorting-title {
  width: 360px;
  font-size: 18px;
  line-height: 18px;
  padding: 6px 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 40px;
}

.sorting-filter {
  width: 360px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.sorting a {
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.sorting ul{
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active,
.sorting .actived,
.sorting .actived:hover {
  opacity: 1;
}

.main-sorting {
  width: 272px;
  display: flex;
  justify-content: space-between;
}

.symbol-point {
  width: 40px;
  display: flex;
  justify-content: space-between;
}


/*-------------modal-conten----------*/

.modal-content {
  display: block;
  position: absolute;
  top: 1706px;
  left: 50%;
  width: 760px;
  margin-left: -480px;
  z-index: 20;
  padding: 0 100px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  color: #000000;
  background-color: #ffffff;
  height: 590px;

}

.modal-content h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
  margin-top: 65px;
  margin-bottom: 45px;
}

.personal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-content label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 360px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 33px;
  padding-left: 0px;
}

.modal-content .text-area {
  width: 760px;
  margin-bottom: 0px;
}

.modal-content input {
  display: flex;
  margin-top: 8px;
  width: 341px;
  height: 46px;
  padding: 0 0 0 15px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  opacity: 0.5;

}

.modal-content textarea {
  display: flex;
  margin-top: 8px;
  width: 736px;
  height: 97px;
  padding-left: 15px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-top: 15px;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  opacity: 0.5;
}

.btn-modal {
  display:flex;
  width:260px;
  height: 50px;
  font-size:16px;
  line-height: 18px;
  color:white;
  font-weight: 500;
  background-color: #fb565a;
  text-transform:uppercase;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  border-radius:2px;
  margin-top: 50px;
  margin-bottom: 85px;
}


.modal-content-close {
  position: absolute;
  top: 78px;
  right: 89px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  outline: transparent;
  cursor: pointer;
}

.modal-content-close::before, .modal-content-close::after {
  content: '';
  position: absolute;
  top: 9px;
  left: -2px;
  width: 26px;
  height: 4px;
  background-color: #fb565a;
  border-radius: 1px;
}

.modal-content-close:hover::before, .modal-content-close:hover::after {
  opacity: 0.3;
}

.modal-content-close:active::before, .modal-content-close:active::after {
  opacity: 0.1;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content input:invalid, .modal-content textarea:invalid {
  border-color: #e74246;
  outline-color: #e74246;
  color: #e74246;
}

.modal-content input:hover, .modal-content textarea:hover {
  border-color: #b4b9bb;
  outline-color: #b4b9bb;
  opacity: 0.5;
}

.modal-content input:focus, .modal-content textarea:focus {
  border-color: #000000;
  outline-color: #000000;
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: none;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.overlay-show {
  display: block;
}

@keyframes bounce {
  0%   {
    transform: translateY(-50px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
